#titulo{
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  flex-direction: column; /* Apila los elementos verticalmente */
  color: #1d9bf0;
}
/* Establece el tamaño máximo de las imágenes */
.carousel-item img {
max-width: 600px;
max-height: 400px;
width: auto; /* Ajusta automáticamente el ancho para mantener la proporción de aspecto */
height: auto; /* Ajusta automáticamente la altura para mantener la proporción de aspecto */
}
.border3 {
    font-weight: bold;  /*Darle negrita a las letras de los checkbox*/
    border: 4px solid black; /*crear un recuadro color negro*/
    padding: 10px;
    margin: 20px auto;
    border-radius: 30px;/*suavizar los bordes */
    margin-left: 100px;/* Ajustar el margen horizontal derecho*/
    margin-right: 100px;/*Ajustar el margen horizontal izquiero*/
}


