.btn-1{
    border: 2px;
    padding: 10px;
    margin-right: 20px;
    justify-content: center;
    color: black;
}

.btn-2{
    border: 30px;
    padding: 10px;
    margin-left: 20px;
    justify-content: center;
    color: black;
}

  .border3 {
    font-weight: bold;
    border: 4px solid black;
    padding: 10px;
    margin: 20px auto;
    border-radius: 30px;
    margin-left: 100px;
    margin-right: 100px;

  }
