
  .form-Intereses-AcercaDeMi{
    width: 600px;
  background: #536471;
  padding: 30px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 4px;
  font-family: 'calibri';
  color: rgb(255, 255, 255);
  box-shadow: 7px 13px 37px #000;
  }

  .form-Intereses-AcercaDeMi .custom-checkbox {
    margin-bottom: 20px; /* Puedes ajustar este valor según tu preferencia */
    background: #315c7a !important;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    border-radius: 4px;
    font-family: 'calibri';
    color: rgb(255, 255, 255);
    box-shadow: 7px 7px 7px #000;
  }

  .form-Intereses-AcercaDeMi h3 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  