.btn-1{
    border: 2px;
    padding: 10px;
    margin-right: 20px;
    justify-content: center;
    color: black;
}

.btn-2{
    border: 30px;
    padding: 10px;
    margin-left: 20px;
    justify-content: center;
    color: black;
}

.rb-1{
    margin-right: 30px;
}

.rb-2{
    margin-right: 30px;
}

.rb-3{
    margin-right: 30px;
}