.EditardivCheckboxGroup{
    background-color: #01366b;
    padding: 10px;
    border: 50px;
    margin: 0; /* Centrar el div horizontalmente */
    max-width: 20%;
}
.EditarTexto{
    color: #f7f9f9;
}